# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=SASL_SSL://pkc-ldvmy.centralus.azure.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=OCTDDME4F6XXK54A
sasl.password=ke+su6KR9xwl40AVehpriP1t6/87+0M0jZHbEhAVcrv9i/DThkLzayecEG9ml/nk

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000
#https://psrc-j98yq.us-central1.gcp.confluent.cloud

# Required connection configs for Confluent Cloud Schema Registry
schema.registry.url=https://psrc-3508o.westus2.azure.confluent.cloud
basic.auth.credentials.source=USER_INFO
basic.auth.user.info=OCTDDME4F6XXK54A:ke+su6KR9xwl40AVehpriP1t6/87+0M0jZHbEhAVcrv9i/DThkLzayecEG9ml/nk

